
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #24305E;
  scroll-behavior: smooth;
}

div, input, button, form, a {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

h1 {
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
